

%p{:align => "center"}
	%a.btn.btn-primary.btn-lg.btn-xlarge{href:"/customers/new", role:"button"} Create New customer


%p{:align => "center"}
	%a.btn.btn-primary.btn-lg.btn-xlarge{href:"/users/buyershow", role:"button"} All customers

%p{:align => "center"}
	%a.btn.btn-primary.btn-lg.btn-xlarge{href:"/orders/buyernotif", role:"button"} Notifications