

%p{:align => "center"}
	%a.btn.btn-primary.btn-lg.btn-xlarge{href:"/vendors/new", role:"button"} Create New vendor

%p{:align => "center"}
	%a.btn.btn-primary.btn-lg.btn-xlarge{href:"/users/sellershow", role:"button"} All Vendors

%p{:align => "center"}
	%a.btn.btn-primary.btn-lg.btn-xlarge{href:"/orders", role:"button"} Orders for trucks

